# ==========================================
# Configuración del Frontend
# ==========================================

# URL de tu Backend (Node.js/NestJS)
VITE_API_URL=http://localhost:3000

# URL de tu servicio de FastAPI (Python)
VITE_FASTAPI_BASE_URL=http://localhost:8000

# URL del propio Frontend
VITE_FRONTEND_URL=http://localhost:5173

# ==========================================
# Integraciones Externas
# ==========================================

# Wompi (Public Key - Es seguro que sea pública)
VITE_WOMPI_PUBLIC_KEY=pub_test_tu_key_publica_aqui

# Cloudinary
VITE_CLOUDINARY_CLOUD_NAME=tu_nombre_de_cloud
VITE_CLOUDINARY_API_KEY=tu_api_key_aqui

# Google Auth
VITE_GOOGLE_CLIENT_ID=tu_client_id_de_google_aqui