# ==========================================
# Configuración de FastAPI
# ==========================================

# Crear .env dentro de app


# Puerto en el que correrá FastAPI
FASTAPI_PORT=8000

# Base de datos (MongoDB)
# Si corres local, usa localhost. Si usas Docker, usa: mongodb://mongo:27017/urbanrush
MONGO_URI=mongodb://localhost:27017/urbanrush

# Comunicación entre servicios
# URL del backend (NestJS) para realizar peticiones internas
NESTJS_BASE_URL=http://localhost:3000

# ==========================================
# Variables adicionales (Sugeridas)
# ==========================================
# NODE_ENV=development
# DEBUG=True